body{
    background-color: rgb(197, 197, 197);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.right{
    min-height: 100vh;
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:40px; 
    padding-left: 40px;
    background-color: rgb(224, 224, 224);
    padding-top: 0px;
}

form{
    flex: 10;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 5px  black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



.footer-div{
    background-color: bisque;
    flex: 1;
    background-color: rgb(224, 224, 224);
    padding: 30px 50px;
}

:root{
    --theme-color:rgb(72, 72, 255);
}


img{
    object-fit: cover;
    width: 700px;
    height: 100vh;
}

h1{
    color: var(--theme-color);
    font-family: Arial, Helvetica, sans-serif;
}

.logo-div{
    position: absolute;
    top: 245px;
    height: 300px;
    width: 700px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 300px;
    height: 100px;
    border: 10px solid var(--theme-color);
}
.header-div p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.header-div p:nth-child(3) {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

button{
    background-color: var(--theme-color);
    padding: 20px 35px;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgb(12, 12, 146);
    position: absolute;
    top: 720px;
}

button:hover{
    opacity: 0.8;
}


.left-form{
    display: flex;
    flex-direction: column;
}

.right-form{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--theme-color);
}

input{
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: none;
    border-color: black;
}

input:invalid:focus{
    background-color: rgb(253, 230, 230);
    box-shadow: 2px 2px 5px black;
}

input:valid{
    border-color: green;
    background-color: rgb(231, 255, 231);
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

